#algolia-search #search-mask {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: var(--anzhiyu-maskbg);
}

#algolia-search .search-dialog {
  border-radius: 12px;
  box-shadow: var(--anzhiyu-shadow-lightblack);
  background: var(--anzhiyu-card-bg);
  border: var(--style-border);
  transition: 0.3s;
}

#algolia-search .search-dialog .ais-Pagination .ais-Pagination-item--selected a {
  border-radius: 4px;
  background: var(--anzhiyu-main);
  color: var(--anzhiyu-white);
}

#algolia-search .search-dialog:hover {
  border: var(--style-border-hover);
  box-shadow: var(--heo-shadow-theme);
}

#algolia-search .list-beauty li,
#algolia-search .category-lists ul li,
#algolia-search .search-dialog .ais-Hits-list li {
  padding: 0;
}
#algolia-search .list-beauty li:before,
#algolia-search .category-lists ul li:before,
#algolia-search .search-dialog .ais-Hits-list li:before {
  display: none;
}

#algolia-search .list-beauty li,
#algolia-search .category-lists ul li,
#algolia-search .search-dialog .ais-Hits-list li {
  padding: 10px !important;
  border-radius: 8px;
  border: var(--style-border);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#algolia-search .search-dialog .ais-Hits-list a {
  color: var(--search-result-title);
  display: block;
  font-weight: 600;
}

#algolia-search .search-dialog .ais-Hits-list .search-result-tags a {
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: var(--style-border);
  display: inline;
}
#algolia-search .ais-SearchBox-loadingIndicator {
  display: none;
}
