extends includes/layout.pug

block content
  #post
    if top_img === false || page.bilibili_bg
      include includes/header/post-info.pug
    if theme.post_head_ai_description
      include includes/anzhiyu/ai-info.pug
    article#article-container.post-content!=page.content

    //- ptool
    if theme.ptool.enable
      include includes/post/ptool.pug

    include includes/post/post-copyright.pug

    //- ad
    if theme.ad && theme.ad.post
      .ads-wrap!=theme.ad.post

    if theme.post_pagination
      include includes/pagination.pug
    if theme.related_post && theme.related_post.enable
      != related_posts(page,site.posts)

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})
      