.card-widget .author-info-top {
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
}
.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}
.card-widget.card-info .banner-button-group {
  margin: 5px 0;
  display: flex;
}
#aside-content .card-info .banner-button {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
}
.card-widget.card-info .banner-button-group .banner-button-text {
  margin-right: 5px;
}
.card-info-avatar .avatar-img {
  width: 100px;
  height: 100px;
  display: block;
}

[data-theme="dark"] #aside-content > .card-info {
  background: var(--anzhiyu-card-bg);
}
@media screen and (max-width: 992px) {
  #aside-content > .card-info {
    background-size: 100% 70%;
  }
}
