#page:has(#lib-cards):has(#libCategories) #post-comment .tk-comments-container > .tk-comment {
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  #libCategories {
    margin-top: 0 !important;
  }
  #page:has(#lib-cards):has(#libCategories) h1.page-title {
    margin-bottom: 0;
  }
  body[data-type="categories"] #body-wrap #category {
    padding: 20px 15px 20px;
  }
}
