script(data-pjax).
  var themeColorMeta = document.querySelector('meta[name="theme-color"]');
  var pageHeaderEl = document.getElementById("page-header");
  var navMusicEl = document.getElementById("nav-music");
  var consoleEl = document.getElementById("console");
  // 已随机的歌曲
  var selectRandomSong = [];
  // 音乐默认声音大小
  var musicVolume = 0.8;
  // 是否切换了周杰伦音乐列表
  var changeMusicListFlag = false;
  // 当前默认播放列表
  var defaultPlayMusicList = [];

  document.getElementById("page-name").innerText = document.title.split(" | 安知鱼")[0];
  anzhiyu.initIndexEssay();
  anzhiyu.changeTimeInEssay();
  anzhiyu.removeBodyPaceClass();
  anzhiyu.changeTimeInAlbumDetail();
  anzhiyu.reflashEssayWaterFall();
  anzhiyu.sayhi();
  anzhiyu.stopImgRightDrag();
  anzhiyu.addNavBackgroundInit();
  anzhiyu.setValueToBodyType();

  anzhiyu.getCustomPlayList();
  anzhiyu.addEventListenerConsoleMusicList(false);
