#rightMenu
	.rightMenu-group.rightMenu-small
		.rightMenu-item#menu-backward
			i.fa-solid.fa-arrow-left
		.rightMenu-item#menu-forward
			i.fa-solid.fa-arrow-right
		.rightMenu-item#menu-refresh
			i.fa-solid.fa-arrow-rotate-right
		.rightMenu-item#menu-top
			i.fa-solid.fa-arrow-up
	.rightMenu-group.rightMenu-line.rightMenuPlugin
		.rightMenu-item#menu-copytext
			i.fas.fa-copy
			span 复制选中文本
		.rightMenu-item#menu-pastetext
			i.fas.fa-paste
			span 粘贴文本
		a.rightMenu-item#menu-commenttext
			i.fas.fa-comment-medical
			span 引用到评论
		.rightMenu-item#menu-newwindow
			i.fas.fa-window-restore
			span 新窗口打开
		.rightMenu-item#menu-copylink
			i.fas.fa-link
			span 复制链接地址
		.rightMenu-item#menu-copyimg
			i.fas.fa-images
			span 复制此图片
		.rightMenu-item#menu-downloadimg
			i.fas.fa-download
			span 下载此图片
		.rightMenu-item#menu-newwindowimg
			i.fas.fa-window-restore
			span 新窗口打开图片
		.rightMenu-item#menu-search
			i.fa-solid.fa-magnifying-glass
			span 站内搜索
		.rightMenu-item#menu-searchBaidu
			i.fa-solid.fa-magnifying-glass
			span 百度搜索
		.rightMenu-item#menu-music-toggle
			i.fa-solid.fa-play
			span 播放音乐
		.rightMenu-item#menu-music-back
			i.fas.fa-backward
			span 切换到上一首
		.rightMenu-item#menu-music-forward
			i.fas.fa-forward
			span 切换到下一首
		- const nav_music_all_playlist = theme.nav_music.all_playlist
		.rightMenu-item#menu-music-playlist(onclick=`window.open("${nav_music_all_playlist}", "_blank");`, style='display: none;')
			i.fas.fa-radio
			span 查看所有歌曲
		.rightMenu-item#menu-music-copyMusicName
			i.fas.fa-copy
			span 复制歌名
	.rightMenu-group.rightMenu-line.rightMenuOther
		a.rightMenu-item.menu-link#menu-randomPost
			i.fas.fa-shuffle
			span 随便逛逛
		a.rightMenu-item.menu-link(href='/categories/')
			i.fas.fa-cube
			span 博客分类
		a.rightMenu-item.menu-link(href='/tags/')
			i.fas.fa-tags
			span 文章标签
	//- .rightMenu-group.rightMenu-line
	//- 	a.rightMenu-item.menu-link(href='/privacy/', data-pjax-state)
	//- 		i.fa-solid.fa-hand
	//- 		span 隐私协议
	//- 	a.rightMenu-item.menu-link(href='/cc/', data-pjax-state)
	//- 		i.fa-solid.fa-closed-captioning
	//- 		span 版权协议
	.rightMenu-group.rightMenu-line.rightMenuOther
		a.rightMenu-item#menu-copy(href='javascript:void(0);')
			i.fas.fa-copy
			span 复制地址
		a.rightMenu-item#menu-commentBarrage(href='javascript:void(0);')
			i.fa-solid.fa-message
			span.menu-commentBarrage-text 关闭热评
		a.rightMenu-item#menu-darkmode(href='javascript:void(0);')
			i.fa-solid.fa-moon
			span.menu-darkmode-text 深色模式
		a.rightMenu-item#menu-translate(href='javascript:void(0);')
			i.fas.fa-language
			span 轉為繁體
#rightmenu-mask