- const { translate } = theme
#rightMenu
	.rightMenu-group.rightMenu-small
		.rightMenu-item#menu-backward
			i.anzhiyufont.anzhiyu-icon-arrow-left
		.rightMenu-item#menu-forward
			i.anzhiyufont.anzhiyu-icon-arrow-right
		.rightMenu-item#menu-refresh
			i.anzhiyufont.anzhiyu-icon-arrow-rotate-right(style="font-size: 1rem;")
		.rightMenu-item#menu-top
			i.anzhiyufont.anzhiyu-icon-arrow-up
	.rightMenu-group.rightMenu-line.rightMenuPlugin
		.rightMenu-item#menu-copytext
			i.anzhiyufont.anzhiyu-icon-copy
			span 复制选中文本
		.rightMenu-item#menu-pastetext
			i.anzhiyufont.anzhiyu-icon-paste
			span 粘贴文本
		a.rightMenu-item#menu-commenttext
			i.anzhiyufont.anzhiyu-icon-comment-medical
			span 引用到评论
		.rightMenu-item#menu-newwindow
			i.anzhiyufont.anzhiyu-icon-window-restore
			span 新窗口打开
		.rightMenu-item#menu-copylink
			i.anzhiyufont.anzhiyu-icon-link
			span 复制链接地址
		.rightMenu-item#menu-copyimg
			i.anzhiyufont.anzhiyu-icon-images
			span 复制此图片
		.rightMenu-item#menu-downloadimg
			i.anzhiyufont.anzhiyu-icon-download
			span 下载此图片
		.rightMenu-item#menu-newwindowimg
			i.anzhiyufont.anzhiyu-icon-window-restore
			span 新窗口打开图片
		.rightMenu-item#menu-search
			i.anzhiyufont.anzhiyu-icon-magnifying-glass
			span 站内搜索
		.rightMenu-item#menu-searchBaidu
			i.anzhiyufont.anzhiyu-icon-magnifying-glass
			span 百度搜索
		.rightMenu-item#menu-music-toggle
			i.anzhiyufont.anzhiyu-icon-play
			span 播放音乐
		.rightMenu-item#menu-music-back
			i.anzhiyufont.anzhiyu-icon-backward
			span 切换到上一首
		.rightMenu-item#menu-music-forward
			i.anzhiyufont.anzhiyu-icon-forward
			span 切换到下一首
		- const nav_music_all_playlist = theme.nav_music.all_playlist
		.rightMenu-item#menu-music-playlist(onclick=`window.open("${nav_music_all_playlist}", "_blank");`, style='display: none;')
			i.anzhiyufont.anzhiyu-icon-radio
			span 查看所有歌曲
		.rightMenu-item#menu-music-copyMusicName
			i.anzhiyufont.anzhiyu-icon-copy
			span 复制歌名
	.rightMenu-group.rightMenu-line.rightMenuOther
		a.rightMenu-item.menu-link#menu-randomPost
			i.anzhiyufont.anzhiyu-icon-shuffle
			span 随便逛逛
		a.rightMenu-item.menu-link(href='/categories/')
			i.anzhiyufont.anzhiyu-icon-cube
			span 博客分类
		a.rightMenu-item.menu-link(href='/tags/')
			i.anzhiyufont.anzhiyu-icon-tags
			span 文章标签
	.rightMenu-group.rightMenu-line.rightMenuOther
		a.rightMenu-item#menu-copy(href='javascript:void(0);')
			i.anzhiyufont.anzhiyu-icon-copy
			span 复制地址
		a.rightMenu-item#menu-commentBarrage(href='javascript:void(0);')
			i.anzhiyufont.anzhiyu-icon-message
			span.menu-commentBarrage-text 关闭热评
		a.rightMenu-item#menu-darkmode(href='javascript:void(0);')
			i.anzhiyufont.anzhiyu-icon-circle-half-stroke
			span.menu-darkmode-text 深色模式
		a.rightMenu-item#menu-translate(href='javascript:void(0);')
			i.anzhiyufont.anzhiyu-icon-language
			span=translate.rightMenuMsgDefault
#rightmenu-mask