- let faceImg = theme.aside.card_weixin.face
- let backFaceImg = theme.aside.card_weixin.backFace
if theme.aside.card_weixin.enable
  .card-widget.anzhiyu-right-widget#card-wechat(onclick="window.open("/")")
    #flip-wrapper
      #flip-content
        .face(style=`background: url(${faceImg}) center center / 100% no-repeat`)
        .back.face(style=`background: url(${backFaceImg}) center center / 100% no-repeat`)