if theme.aside.card_announcement.enable
  .card-widget.card-announcement
    .item-headline
      i.anzhiyufont.anzhiyu-icon-bullhorn.anzhiyu-shake
      span= _p('aside.card_announcement')
    .announcement_content!= theme.aside.card_announcement.content