if hexo-config('LA.enable')
  body 1
else
  #about-page 
    .author-content-item-group.column.mapAndInfo
      width 100%
    .author-content-item-group.column
      flex-direction: row;
    .author-content-item.map
      width 50%
    .author-content-item.selfInfo
      height 100%
      width: 49%;
