if theme.pjax.enable
  #cookies-window(onclick=`pjax.loadUrl("${url_for(theme.agreementPopup.url)}")`)
    .cookies-window-title 协议提醒助手
    .cookies-window-content
      .cookies-tip 查看本站为你的个人隐私做出的努力
      a.cookies-link(href=url_for(theme.agreementPopup.url) title="本站如何保护你的隐私")
        i.anzhiyufont.anzhiyu-icon-arrow-circle-right
else 
  #cookies-window(onclick=`javascrtpt:window.location.href="${url_for(theme.agreementPopup.url)}"`)
    .cookies-window-title 协议提醒助手
    .cookies-window-content
      .cookies-tip 查看本站为你的个人隐私做出的努力
      a.cookies-link(href=url_for(theme.agreementPopup.url) title="本站如何保护你的隐私")
        i.anzhiyufont.anzhiyu-icon-arrow-circle-right