if site.data.essay
  each i in site.data.essay
    if i.home_essay
      #bbTimeList.bbTimeList.container
          i.anzhiyufont.anzhiyu-icon-jike.bber-logo.fontbold(onclick=`pjax.loadUrl("/essay/")`,title="即刻短文", aria-hidden="true")
          #bbtalk.swiper-container.swiper-no-swiping.essay_bar_swiper_container(tabindex="-1")
            #bber-talk.swiper-wrapper(onclick=`pjax.loadUrl("/essay/")`)
              each i in site.data.essay
                each item, index in i.essay_list
                  if index < 10
                    - var contentText = item.image ? item.content + ' [图片]' : item.content
                    .li-style.swiper-slide= contentText
          i.bber-gotobb.anzhiyufont.anzhiyu-icon-circle-arrow-right( onclick=`pjax.loadUrl("/essay/")`,title="查看全文")

      script(src=url_for(theme.home_top.swiper.swiper_js))
      link(rel="stylesheet" href=theme.home_top.swiper.swiper_css onload="this.media='all'")
