#categoryBar
  #category-bar.category-bar
      #catalog-bar
        i.fa-fw.fas.fa-shapes
        #catalog-list
          .catalog-list-item(id='首页')
            a(href="/") 首页
          !=catalog_list("categories")
        a.catalog-more(href="/categories/")!= '更多'
