#keyboard-tips(class='')
  .keyboardTitle 博客快捷鍵
  .keybordList
    each item in ["K 關閉快捷鍵功能", "A 打開/關閉中控臺", "M 播放/暫停音樂", "D 深色/淺色顯示模式", "S 站內搜索", "R 隨機訪問", "H 返回首頁", "F 友鏈魚塘", "L 友鏈頁面", "P 關於本站", "I 原版/本站右鍵菜單"]
      - let key = item.split(" ")[0]
      - let content = item.split(" ")[1]
      .keybordItem
        .keyGroup
          .key= "shift " + key
        .keyContent
          .content= content
