#keyboard-tips(class='')
  .keyboardTitle 博客快捷键
  .keybordList
    each item in ["K 关闭快捷键功能", "A 打开/关闭中控台", "M 播放/暂停音乐", "D 深色/浅色显示模式", "S 站内搜索", "R 随机访问", "H 返回首页", "F 友链鱼塘", "L 友链页面", "P 关于本站", "I 原版/本站右键菜单"]
      - let key = item.split(" ")[0]
      - let content = item.split(" ")[1]
      .keybordItem
        .keyGroup
          .key= "shift " + key
        .keyContent
          .content= content
