-
  const shortcutItems = [
    { key: 'K', content: _p('shortcut.close_shortcut') },
    { key: 'A', content: _p('shortcut.toggle_console') },
    { key: 'M', content: _p('shortcut.play_music') },
    { key: 'D', content: _p('shortcut.toggle_mode') },
    { key: 'S', content: _p('shortcut.search') },
    { key: 'R', content: _p('shortcut.random') },
    { key: 'H', content: _p('shortcut.home') },
    { key: 'F', content: _p('shortcut.fish_pond') },
    { key: 'L', content: _p('shortcut.links') },
    { key: 'P', content: _p('shortcut.about') },
    { key: 'I', content: _p('shortcut.context_menu') }
  ]
#keyboard-tips(class='')
  .keyboardTitle=_p('shortcut.title')
  .keybordList
    each item in shortcutItems
      .keybordItem
        .keyGroup
          .key= "shift " + item.key
        .keyContent
          .content= item.content
