#anMusic-page
  #anMusicBtnGetSong(title="隨機周董單曲，打開異世界的大夢")
    i(class="anzhiyufont anzhiyu-icon-shuffle")
  #anMusicRefreshBtn(title="立即刷新最新歌單")
    i(class="anzhiyufont anzhiyu-icon-arrows-rotate")
  #anMusicSwitching(title="切換歌單")
    i(class="anzhiyufont anzhiyu-icon-repeat")
  #anMusic-page-meting