#nav a:hover {
  background: var(--anzhiyu-main);
  transition: 0.3s;
}

#page-header.not-top-img {
  margin-bottom: 0px;
}
#page-header:not(.nav-fixed) #percent {
  transition: 0.3s;
}

#page-header #nav #nav-right div {
  margin-left: 1rem;
  padding: 0;
}

.nav-button {
  cursor: pointer;
}
div#menus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 60px;
  left: 0;
  margin: 0;
  z-index: 2;
  padding: 0 calc((100% - 1370px) / 2);
  transition: 0.3s;
}

#nav .site-page {
  padding-bottom: 0px;
}
#nav *::after {
  background-color: transparent !important;
}

/* 顶栏修改 */
#nav .menus_items .menus_item a {
  border-radius: 50px;
}
#nav .menus_items .menus_item .menus_item_child li a {
  padding: 2px 16px;
  border-radius: 50px;
}
#nav .menus_items .menus_item .menus_item_child li:hover a {
  color: white !important;
}

#nav .menus_items .menus_item .menus_item_child li {
  border-radius: 50px;
  transition: all 0.3s;
  display: inline-block;
  margin: 0 3px;
}
#nav .menus_items .menus_item .menus_item_child:before {
  top: -19px;
}
#site-name,
.shuoshuo {
  white-space: nowrap;
  overflow: hidden;
}
#site-name {
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

/* 圆角隐藏 */
ul.menus_item_child {
  border-radius: 5px;
}

/* 一级菜单居中 */
#nav .menus_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: block;
  transform: translateX(-50%);
  right: auto;
  left: auto !important;
  padding: 6px 4px;
  box-sizing: content-box;
  line-height: 35px;
}

#nav .menus_items .menus_item:hover {
  padding: 0 5px 27px 5px !important;
  margin-bottom: -14.5px !important;
}

#nav .menus_items .menus_item .menus_item_child {
  top: 44px;
  box-shadow: var(--anzhiyu-shadow-black);
  border: var(--style-border);
  transition: 0.3s;
  background-color: var(--anzhiyu-card-bg);
  border-radius: 50px;
}
#nav .menus_items .menus_item .menus_item_child:hover {
  border: var(--style-border-hover);
  box-shadow: var(--anzhiyu-shadow-main);
}
#nav a {
  border-radius: 50px;
}
.page #nav a:hover,
.post #nav a:hover {
  color: var(--anzhiyu-white);
  background: var(--anzhiyu-main);
  transition: 0.3s;
  box-shadow: var(--anzhiyu-shadow-main);
}

#page-header.nav-fixed #nav #page-name {
  background: none;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  border-radius: 100px;
}
#page-header.nav-fixed #nav #page-name:hover {
  color: var(--anzhiyu-main);
}
@media screen and (min-width: 900px) {
  #page-header.nav-fixed #nav #page-name::after {
    opacity: 0;
    transform: scale(1);
    content: "回到顶部";
    transition: 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: var(--anzhiyu-white) !important;
    font-weight: 700;
  }
}
@media screen and (min-width: 1300px) {
  #page-header.nav-fixed #nav #page-name:hover:after {
    opacity: 1;
  }
  #page-header.nav-fixed #nav #page-name:hover {
    background: var(--anzhiyu-main);
  }
}

#page-header #nav #page-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 15px;
  max-width: 60%;
  min-width: 10%;
  position: relative;
}
#menus > div.menus_items > div > a {
  letter-spacing: 0.3rem;
  font-weight: 700;
  padding: 0em 0.8em 0em 1em;
  height: 35px;
  line-height: 35px;
}
#nav .menus_items .menus_item {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#nav div#toggle-menu {
  padding: 2px 0 4px 6px;
}

#page-name:hover:before {
  opacity: 1;
}

#name-container:hover {
  transform: translateX(-50%) scale(1.03);
}

center#name-container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  transform: translateY(60px);
}

.nav-fixed #name-container {
  transform: translateY(0px);
}

.mask-name-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  padding: 0 calc((100% - 1370px) / 2);
  z-index: 1;
}

#nav .menus_items .menus_item > a > i:last-child {
  display: none;
}
#nav #search-button {
  font-size: 1.3em;
}

.back-home-button:hover {
  background: var(--anzhiyu-main);
  color: var(--anzhiyu-white) !important;
}
.back-home-button {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  transition: 0.3s;
  border-radius: 8px;
}

.back-home-button:hover .back-menu-list-groups {
  display: flex;
  opacity: 1;
  transition: 0.3s;
  top: 55px;
  pointer-events: auto;
  left: 0;
}
.back-home-button .back-menu-list-groups {
  position: absolute;
  top: 65px;
  left: 0;
  background: var(--anzhiyu-card-bg);
  border-radius: 12px;
  border: var(--style-border);
  flex-direction: column;
  font-size: 12px;
  color: var(--anzhiyu-secondtext);
  box-shadow: var(--anzhiyu-shadow-border);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.back-home-button .back-menu-list-group {
  display: flex;
  flex-direction: column;
}
.back-home-button .back-menu-list-group .back-menu-list-title {
  margin: 8px 0 0 16px;
  transition: 0.3s;
}
.back-home-button .back-menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 340px;
  justify-content: space-between;
}
.back-home-button .back-menu-list::before {
  position: absolute;
  top: -22px;
  left: 0px;
  width: 100%;
  height: 25px;
  content: "";
}
.back-home-button .back-menu-list-groups .back-menu-list-group:last-child .back-menu-list {
  margin: 0 0 8px;
}

.back-home-button .back-menu-list-group:hover .back-menu-list-title {
  color: var(--anzhiyu-main);
}
.back-home-button .back-menu-list-groups:hover {
  border: var(--style-border-hover);
}
.back-home-button .back-menu-list .back-menu-item {
  display: flex;
  align-items: center;
  margin: 4px 8px;
  padding: 4px 8px !important;
  transition: 0.3s;
  border-radius: 8px;
  width: 150px;
}
.back-home-button .back-menu-list .back-menu-item .back-menu-item-text {
  font-size: var(--global-font-size);
  margin-left: 0.5rem;
  color: var(--anzhiyu-fontcolor);
  white-space: nowrap;
}
.back-home-button .back-menu-list .back-menu-item .back-menu-item-icon {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: var(--anzhiyu-secondbg);
}
#page-header #nav .back-home-button {
  cursor: pointer;
  position: relative;
}
#page-header:not(.not-top-img) #nav .back-home-button {
  color: var(--light-grey);
}

#page-header.nav-fixed:not(.not-top-img) #nav .back-home-button {
  color: var(--font-color);
}

.back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
  color: var(--anzhiyu-white);
}
.back-home-button .back-menu-list .back-menu-item {
  border-radius: 8px !important;
}
.back-menu-item-icon.loading img {
  width: 25px;
}

#page-header #nav #menus .nav-button.long a.totopbtn span {
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#page-header #nav #menus .nav-button.long a.totopbtn:hover {
  border-radius: 35px;
  height: 30px;
}

#nav #search-button {
  padding-left: 0;
}

#search-button a.site-page.social-icon.search span {
  display: none;
}

#nav .nav-button a:hover {
  color: var(--anzhiyu-white) !important;
}
#menus > div.menus_items a {
  font-weight: bold;
}

#menus .menus_item .menus_item_child .site-page.child.faa-parent.animated-hover .fa-fw.fa-fan.faa-tada {
  animation: rotate 1.6s linear infinite;
}

#nav-right {
  display: flex;
  align-items: center;
  z-index: 2;
}

/* nav left */
#nav #blog_name {
  flex-wrap: nowrap;
  height: 60px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  z-index: 3;
}
#blog_name #site-name i {
  transform: scale(0);
  position: absolute;
  transition: 0.3s ease-in;
}

#blog_name #site-name:hover .title {
  transform: scale(0);
}
#blog_name #site-name .title {
  transition: 0.3s ease-in;
  letter-spacing: normal;
}

#blog_name #site-name:hover i {
  transform: scale(1);
  color: white;
}
#page-header #nav #nav-right .nav-button a i,
#page-header #nav #nav-left .nav-button a i {
  line-height: 1;
}

/* 返回顶部按钮样式 */
#nav-totop {
  width: 35px;
  height: 35px;
  transition: 0.3s;
  display: flex;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: space-around;
}

#page-header #nav #nav-right .nav-button a.totopbtn {
  width: 25px;
  height: 25px;
  border-radius: 40px;
  background: var(--font-color);
  color: var(--card-bg);
  transition: 0.3s;
}
#page-header #nav #nav-right .nav-button:not(.long) a.totopbtn:hover {
  height: 35px;
  width: 35px;
}

#page-header #nav #nav-right .nav-button:not(.long):hover a.totopbtn {
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
}

#page-header #nav .nav-button a {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  font-size: 13px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
  color: var(--card-bg);
  width: 25px;
  height: 25px;
}
#nav-totop #percent {
  font-weight: 700;
}

#page-header #nav #nav-right .nav-button:hover a.totopbtn {
  background: var(--anzhiyu-main);
}

#nav-totop:hover .totopbtn i {
  opacity: 1;
  color: var(--anzhiyu-white);
  transition: 0.3s;
}

#nav-totop .totopbtn i {
  position: absolute;
  display: flex;

  opacity: 0;
}
#nav-totop.long .totopbtn i {
  font-size: 1rem;
}

#nav-totop:hover #percent {
  opacity: 0;
  transform: scale(1.5);
  font-weight: 700;
}

#page-header:not(.nav-fixed) #nav-totop {
  width: 0;
  transform: scale(0);
  transition: 0.3s;
  margin-left: 0 !important;
  overflow: hidden;
  transition: 0.3s ease-in;
}

#page-header #nav #nav-right .nav-button.long,
#page-header #nav #nav-right .nav-button.long a.totopbtn,
#page-header #nav #nav-right .nav-button.long a.totopbtn span {
  width: 70px;
}
#page-header #nav #nav-right .long#nav-totop:hover {
  background-color: transparent;
}

/* 媒体查询适配 */
@media screen and (max-width: 1390px) {
  #nav {
    padding: 15px;
  }
  #nav .mask-name-container {
    padding: 15px;
  }
  div#menus {
    padding: 15px;
  }
}

@media screen and (min-width: 900px) {
  #nav .back-home-button:hover {
    box-shadow: var(--anzhiyu-shadow-main);
  }
}

@media screen and (max-width: 768px) {
  .mask-name-container {
    display: none;
  }
  #menus {
    padding: 20px;
  }
  #page-header.not-top-img {
    margin-bottom: 10px;
  }
  #nav {
    border-bottom: none;
    backdrop-filter: none;
    background: var(--anzhiyu-background);
  }
}

@media screen and (min-width: 768px) {
  .menus_item:hover > a.site-page {
    color: var(--anzhiyu-white) !important;
    background: var(--anzhiyu-main);
    transition: 0.3s;
    box-shadow: var(--anzhiyu-shadow-main);
  }
}
